{% extends 'base.html.twig' %}

{% block body %}

	<h1>{{ post.title }}</h1>

	<div>
		{{ post.text }}
	</div>
	<hr>
	Publish by {{ post.user.name }}
	<hr>
	<strong>Comments:</strong>
	<ul>
		{% for comment in post.comments %}
			<li>{{ comment.user.name }}: {{ comment.text }}</li>
		{% endfor %}
	</ul>
{% endblock %}